	
	body.container{
		max-width: 600px
	}
	h1{
		margin: 30px 0;
		text-align: center
	}
	form{
		display: inline-block;
	}
	.checkbox{
		margin-bottom: 0;
		margin-right: 20px
	}
	.done{
		color: #ccc
	}
	.done .text{
		text-decoration: line-through
	}
	a:link{
		text-decoration: none
	}