	body.container {
	    max-width: 600px;
	    color: #4d4d4d;
	    background: #ccc
	}
	a {
		float: right;
		margin-left: 10px
	}

	a:link {
	    text-decoration: none
	}
	h1 {
	    margin: 30px 0;
	    text-align: center;
	    color: rgba(229, 68, 49, .5);
	}
	
	input.newItem::-webkit-input-placeholder {
	    font-style: italic;
	    font-weight: 300;
	    color: #e6e6e6;
	}
	
	input.newItem::-moz-input-placeholder {
	    font-style: italic;
	    font-weight: 300;
	    color: #e6e6e6;
	}
	
	.newItem {
	    padding: 10px 0;
	    font-size: 30px;
	    text-indent: 2em;
	    outline: none;
	    border: 0;
	    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.3);
	}
	
	section {
	    position: relative
	}
	
	.toggle-all {
	    position: absolute;
	    top: 23px;
	    left: 18px;
	    width: 20px;
	    height: 20px;
	}
	
	.checkbox {
	    margin-bottom: 0
	}
	
	.checkbox form {
	    display: inline-block
	}
	.checkbox input[type='checkbox'], .close {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto 0
	}
	.checkbox input[type='checkbox']{
		left: 0
	}
	.checkbox .text {
			display: inline-block;
	    padding: 0 1em;
	    word-break: break-all
	}
	
	.list-group-item {
	    font-size: 20px
	}
	
	.done {
	    color: #ccc
	}
	
	.done .text {
	    text-decoration: line-through
	}
	
	.list-group-item .close {
	    display: none
	}
	
	.close span {
	    font-size: 30px;
	    color: #af5b5e
	}
	
	.list-group-item:hover .close {
			display: block;
	    right: 0;
	    outline: 0;
	    opacity: .6
	}
	
	.list-group-item .close:hover {
	    opacity: 1
	}
	
	.edit {
	    font-size: 20px
	}
	
	.todo {
	    transition: all .3s
	}
	
	.todo.ng-enter {
	    opacity: 0
	}
	
	.todo.ng-enter-active,
	.todo.ng-leave {
	    opacity: 1
	}
	
	.todo.ng-leave-active {
	    opacity: 0
	}
