<!DOCTYPE html>
<html lang="en" ng-app="TodoApp">
<head>
	<meta charset="UTF-8">
	<title>Angular - TodoList</title>
	<link rel="stylesheet" href="bower_components/angular/angular-csp.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<body class="container" ng-controller="mainController">
	<header>
		<h1 class="display-4">任务列表<h1>
	</header>
	<hr>
	<section>
		<form class="input-group input-group-lg">
			<input type="text" class="form-control" ng-model="text" placeholder="Todo">
			<span class="input-group-btn">
				<button class="btn btn-secondary" ng-click="addTodo()">添加</button>
			</span>
		</form>
		<ul class="list-group m-y-2">
			<li class="list-group-item todo" 
			ng-class="{'done':item.done}" ng-repeat="item in todoList" ng-cloak>
				<button class="close" aria-label="Close" ng-click="removeTodo(item)">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="item.done">
					</label>
					<span class="text" ng-bind="item.text"ng-dblclick="editTodo(item)" ng-hide="item.edit"></span>
					<form ng-submit="updateTodo(item)">
						<input type="text" class="form-control" ng-show=item.edit ng-model="item.text">
					</form>
				</div>
			</li>
		</ul>
		<p ng-cloak>
			总共<strong>{{todoList.length}}</strong>个任务，已完成<strong>{{doneCount()}}</strong>个任务    &nbsp;       
			<a href="javascript:;" ng-click="removeDone()">清空已完成</a>
			<span>&nbsp;  &nbsp;  </span>
			<a href="javascript:;" ng-click="removeAll()">清空所有任务</a>
		</p>
	</section>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>